* {
    background-color: #0d2734;
}
.string {
    color: #8854e2;
}

.comment {
    color: #607d8b;
}

.reserved_words {
    color: #fb7efd;
    font-style: italic;
    font-weight: bold;
}

.smooth_operator {
    color: #fc2847;
}

.number {
    color: #ffa343;
}

.func_name {
    /* color: #1a71be; */
        color: #44e075;
}
.variable {
    color: #1FC3CD;
}

.paren {
    color: #f7408c;
}

.brackets {
    color: #a71856;
}

.keys {
    color: #a71856;
}
.punctuation {
    color: #37474f;
}